<div class="data-view-graph">
  <div class="dvg-header">Super Graph</div>
  <div class="dvg-axisY-title">
    <div class="menu-axis-current">
      <button class="bttn-axis-current"><span>w_w</span></button>
      <div class="select-axis">
        <button class="bttn-axis-select"><span></span></button>
      </div>
    </div>
  </div>
  <div class="dvg-chart"></div>
  <div class="dvg-axisX-title">
    <div class="menu-axis-current">
      <button class="bttn-axis-current"><span>w_w</span></button>
      <div class="select-axis">
        <button class="bttn-axis-select"><span></span></button>
      </div>
    </div>
  </div>
  <div class="dvg-coords"></div>
</div>