<div class="dtfb">
  <div class="dtfb-h">
    <h1>Fit Builder</h1>
  </div>
  <div class="dtfb-c">
    <div class="dtfb-panel model">
      <label>Fit Name: </label>
      <button class="dtfb-bttn-fit-current">
        <span></span>
        <div class="dtfb-menu-fit-variants"></div>
      </button>
      <div class="dtfb-panel-buttons">
        <button name="new">New</button>
        <button name="del">Delete</button>
      </div>
    </div>
    <div class="dtfb-panel-cover">
      <div class="dtfb-panel" name="Parameters">
        <div class="dtfb-panel-buttons">
          <button name="add">Add</button>
          <button name="remove">Remove</button>
        </div>
      </div>
      <div class="dtfb-panel" name="Function">
      </div>
    </div>
    <div class="dtfb-panel warning">
      Red cells have invalid expressions.
        <br/>
      They will not be saved.
    </div>
    <div class="dtfb-panel hint">
      Click (Tap) cell to edit.
        <br/>
      See help for valid expressions.

      <button class="save-and-close">Save & Close</button>
    </div>
  </div>
</div>