<div class="video">
  <div class="video-holder">
    <div class="video-frame">
      <svg class="video-objects" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
    </div>
    <svg class="video-tools" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
  </div>
  <div class="video-controls">
    <button class="touch-shift" title="Shift button"></button>
    <button class="current-state" title="Time in seconds">
      <span></span>
      <div class="menu-choose-display">
        <label class="display-time">Time</label>
        <label class="display-frame">Frame</label>
      </div>
    </button>
    <div class="play-rate">
      <button class="play-rate-prev"></button><label class="play-rate-value"></label><button class="play-rate-next"></button>
    </div>
    <button class="play-back" title="Reset to step 0"></button>
    <button class="play-start" title="Play"></button>
    <button class="play-pause" title="Pause"></button>
    <input type="range" class="seek-bar"></input>
    <button class="skip-prev" title="Step back"></button>
    <button class="skip-next" title="Step forward"></button>
    <button class="play-loop" title="Looping"></button>
  </div>
</div>