<div class="frame-panel">
  <div class="frame-panel-header">
    <div class="menu-view-curent">
      <button class="bttn-view-current"></button>
      <div class="select-view">
        <button class="bttn-view-option" option="graph"></button>
        <button class="bttn-view-option" option="table"></button>
      </div>
    </div>
    <button class="bttn-view-parameters"><span class="bttn-text">Plot</span></button>
    <div class="menu-object-current">
      <button class="bttn-object-current"><i></i><span>Object</span></button>
      <div class="select-object">
        <button class="bttn-object-select"><i></i><span></span></button>
      </div>
    </div>
    <label class="frame-panel-title"><span>Frame 4</span></label>
  </div>
  <div class="frame-panel-content"></div>
</div>
