<div class="tracker">
  <div class="section-h"></div>
  <div class="section-l">
    <div class="section-t"></div>
    <hr class="splitter horizontal"></hr>
    <div class="section-b">
      <div class="section-l" name="Frame 3"></div>
      <hr class="splitter vertical"></hr>
      <div class="section-r" name="Frame 4"></div>
    </div>
  </div>
  <hr class="splitter vertical"></hr>
  <div class="section-r">
    <div class="section-t" name="Frame 1"></div>
    <hr class="splitter horizontal"></hr>
    <div class="section-b" name="Frame 2"></div>
  </div>
</div>