<div class="section-h">
  <h1></h1>
  <h5>
    <div class="menu-existing-track">
      <button class="bttn-existing-track" title="Select an existing track"></button>
      <div class="select-track">
        <button class="bttn-option-track"><i></i><span></span></button>
        <hr/>
        <button class="bttn-center-of-mass">Create Center of Mass</button>
        <button class="bttn-create-model-analytic">Analytic Particle Model</button>
        <button class="bttn-create-model-dynamic">Dynamic Particle Model</button>
      </div>
    </div>
    <div class="bttn-existing-track-model">
      <button><i></i><span></span></button>
      <div>
        <button><span>Visible</span></button>
        <hr/>
        <button><span>Model Builder</span></button>
      </div>
    </div>
    <span class="splitter"></span>
    <button class="bttn-axes"></button>
    <button class="bttn-tape"></button>
    <button class="bttn-protractor"></button>
    <span class="splitter"></span>
    <button class="bttn-help">?</button>
  </h5>
</div>