<div class="mb">
  <div class="mb-h">
    <h1>Model Builder</h1>
  </div>
  <div class="mb-c">
    <div class="mb-panel model">
      Model: <i></i><span></span>
      <button widget="color-picker" widget-position="top-right"></button>
      <span></span>
    </div>
    <div class="mb-panel-cover">
      <div class="mb-panel" name="Parameters">
        <div class="mb-panel-buttons">
          <button name="add">Add</button>
          <button name="remove">Remove</button>
        </div>
      </div>
      <div class="mb-panel" name="Initial Values">
      </div>
      <div class="mb-panel" name="Force Functions">
        <div class="mb-panel-buttons">
          <button name="add">Add</button>
          <button name="remove">Remove</button>
        </div>
      </div>
    </div>
    <div class="mb-panel warning">
      Red cells have invalid expressions.
        <br/>
      They will not be saved.
    </div>
    <div class="mb-panel hint">
      Click (Tap) cell to edit.
        <br/>
      See help for valid expressions.
      
      <button name="save-and-close">Save & Close</button>
    </div>
  </div>
  <div class="mb-calculating"><label>Calculating...</label></div>
</div>